<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <button class="btn btn-primary" id="connectButton" ng-click="connectButton()" type="button">Connect Twitter</button>
      <button class="btn btn-info" id="getTimelineButton" ng-click="refreshTimeline()" style="display:none;" type="button">Get My Timeline</button>
      <button class="btn btn-danger" id="signOut" ng-click="signOut()" style="display:none;" type="button">Sign Out</button>
    </div>
    <div class="col-xs-6">
      <a class="btn btn-info f-r" href="#/repos" type="button">Check for Repos</a>
    </div>
  </div>
  </br>
  <div class="col-xs-12" id="results">
    <table class="table">
      <tr ng-repeat="tweet in tweets">
        <td>
          <img class="img-circle" ng-src="{{tweet.user.profile_image_url}}">
        </td>
        <td class='c-w'>{{tweet.user.name}}</td>
        <td class='c-w'>{{tweet.text}}</td>
        <td>
          <a class='white-with-blue-shadow-small' ng-href="{{tweet.entities.urls[0].expanded_url}}" ng-bind-html="tweet.entities.urls[0].expanded_url"></a>
        </td>
      </tr>
    </table>
  </div>

  <div ng-show='rateLimitError' class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    Rate limit reached. You are making too many requests.
  </div>
  <div ng-show='noTweetsError' class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    We combed your tweets and couldn't find any github mentions or repos.
  </div>
</div>
